# Python
__pycache__/
*.py[cod]
venv/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
/staticfiles/
node_modules/
migrations/
dev.crt
devcert.pem
devkey.pem
devcombined.pem
docs/
logs/
# Local dev HTTPS certs created by mkcert

# idea/vscode
.vscode/
.idea/
